header {
    background-color: #333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #96AE52;
    transition: background-image 1s ease;
    background-image: url('space.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
h2{
    margin:16px;
}
h3{
    margin:16px
}
h4{
    margin:16px
}
ul{
    margin:16px
}
p{
    margin:16px;
}
#formulario{
    margin:16px;
}
#img2{
    position: absolute;
    top: 170px;
    right: 400px;
    width: 15%;
}
#resultado{
    margin: 16px;
}
